<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.securebank">

    <application
        android:name=".MainApplication"
        android:label="SecureBank"
        android:theme="@style/Theme.SecureBank">
        <activity android:name=".ui.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
